<h2>Token Al</h2>

<form method="post" asp-controller="Auth" asp-action="Index">
    <input name="username" value="NETSIS" placeholder="Kullanıcı" />
    <input name="password" value="Cm1521*." placeholder="Şifre" />
    <input name="branchcode" value="0" placeholder="Branch" />
    <input name="dbname" value="DONANIMURETIM" placeholder="DB Name" />
    <input name="dbuser" value="TEMELSET" placeholder="DB User" />
    <input name="dbpassword" value="***" placeholder="DB Pass" />
    <input name="dbtype" value="MSSQL" placeholder="DB Type" />
    <button type="submit">Token Al</button>
</form>

@if (ViewBag.Token != null)
{
    <div style="color:green;margin-top:10px;">
        <b>Token Döndü:</b>
        <pre>@ViewBag.Token</pre>
    </div>
}

@if (ViewBag.Hata != null)
{
    <div style="color:red;margin-top:10px;">
        <b>Hata:</b> @ViewBag.Hata
    </div>
}
